﻿<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + jQuery">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Konekt | @ViewBag.Title</title>
    <!-- =============== VENDOR STYLES ===============-->
    @Styles.Render("~/bundles/fontawesome")
    @Styles.Render("~/bundles/simpleLineIcons")
    @Styles.Render("~/bundles/animatecss")
    @Styles.Render("~/bundles/whirl")
    @Styles.Render("~/bundles/Spinkit")
    @Styles.Render("~/bundles/LoadersCss")
    @Styles.Render("~/bundles/SweetAlertCss")
    @Styles.Render("~/bundles/datetimePickerCss")
    @Styles.Render("~/bundles/balloonCss")
    <!-- =============== PAGE VENDOR STYLES =============== -->
    @if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link href="@Styles.Url("~/Content/app/css/bootstrap.css")" rel="stylesheet" type="text/css" id="bscss" />
    <!-- =============== APP STYLES ===============-->
    <link href="@Styles.Url("~/Content/app/css/app.css")" rel="stylesheet" type="text/css" id="maincss" />
</head>

<body>
   <div class="wrapper">
       @RenderBody()
   </div>
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span>@DateTime.Now</span>
      <span>-</span>
      <span>Konekt</span>
   </div>

    <!-- =============== VENDOR SCRIPTS ===============-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/storage")
    @Scripts.Render("~/bundles/parsley")
    
    @Scripts.Render("~/bundles/jqueryUi")
    @Scripts.Render("~/bundles/jqueryValidate")
    @Scripts.Render("~/bundles/SweetAlert")
    @Scripts.Render("~/bundles/localize")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/Angle")
    @Scripts.Render("~/bundles/customHelpers")
    @Scripts.Render("~/bundles/datetimePicker")


    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    @RenderSection("scripts", required: false)
    @{
        var errorMessage = TempData["ErrorMessage"];
        var successMessage = TempData["SuccessMessage"];

        var message = errorMessage != null ? errorMessage : successMessage != null ? successMessage : null;
        var clazz = errorMessage != null ? "danger" : successMessage != null ? "success" : null;
    }
    @if (message != null)
    {
    <script>
        $.notify("@message", "@clazz");
    </script>
    }


</body>

</html>