﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Revolvo | SEO Checker</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- =============== VENDOR STYLES ===============-->
    @Styles.Render("~/bundles/fontawesome")
    @Styles.Render("~/bundles/simpleLineIcons")
    @Styles.Render("~/bundles/animatecss")
    @Styles.Render("~/bundles/whirl")
    @Styles.Render("~/bundles/Spinkit")
    @Styles.Render("~/bundles/LoadersCss")
    @Styles.Render("~/bundles/SweetAlertCss")
    @Styles.Render("~/bundles/datetimePickerCss")
    @Styles.Render("~/bundles/balloonCss")
    @Styles.Render("~/Content/css")
    <!-- =============== PAGE VENDOR STYLES =============== -->
    @if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link href="@Styles.Url("~/Content/app/css/bootstrap.css")" rel="stylesheet" type="text/css" id="bscss" />
    <!-- =============== APP STYLES ===============-->
         <link href="@Styles.Url("~/Content/app/css/app.css")" rel="stylesheet" type="text/css" id="maincss"/>
    <!-- =============== CUSTOM STYLES ===============-->
         <link href="@Styles.Url("~/Content/style.min.css")" rel="stylesheet" type="text/css" id="customcss" />
    
         <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body class="aside-collapsed">
    <div class="wrapper">
        <!-- top navbar-->
        @*<header class="topnavbar-wrapper">
            @Html.Partial("_TopNavbar")
        </header>*@
        <!-- sidebar-->
        <!-- offsidebar-->
        <!-- Main section-->
        <section>
            <!-- Page content-->
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </section>
        <!-- Page footer-->
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUi")
    @Scripts.Render("~/bundles/jqueryValidate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/storage")
    @Scripts.Render("~/bundles/SweetAlert")
    @Scripts.Render("~/bundles/localize")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/parsley")
    @Scripts.Render("~/bundles/Angle")
    @Scripts.Render("~/bundles/customHelpers")
    @Scripts.Render("~/bundles/datetimePicker")
    @Scripts.Render("~/bundles/chartjs")

    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    @RenderSection("scripts", required: false)
    <!-- =============== APP SCRIPTS ===============-->
    @{
        var errorMessage = TempData["ErrorMessage"];
        var successMessage = TempData["SuccessMessage"];

        var message = errorMessage != null ? errorMessage : successMessage != null ? successMessage : null;
        var clazz = errorMessage != null ? "danger" : successMessage != null ? "success" : null;
    }
    @if (message != null)
    {
        <script>
        $.notify("@message", "@clazz");
        </script>
    }
    @Html.Partial("_ModalHolder")
    @RenderSection("modals", required: false)

</body>
</html>