﻿<div id="modal-large" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="modal-large-spinner">
                @Html.Partial("_LineSpinner")
            </div>
            <div id="modal-large-content"></div>
        </div>
    </div>
</div>