
<!-- START Top Navbar-->
<nav class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header  bg-konekt">
      <a href="#/" class="navbar-brand">
          <div class="brand-logo">
              <h3 style="margin-top: 5px; color: white; font-weight: 200; letter-spacing: 5px;">SEO Checker</h3>
          </div>
          <div class="brand-logo-collapsed">
              <img src="@Url.Content("~/Content/Images/konekt-dots.png")" alt="Konekt collapsed logo" class="img-responsive">
          </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper bg-konekt">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav  bg-konekt">
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="#" data-toggle-state="aside-collapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
      </ul>
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!-- START Contacts button-->
          @*<li>
            <a href="#" data-toggle-state="offsidebar-open" data-no-persist="true">
               <em class="icon-notebook"></em>
            </a>
         </li>*@

         <!-- END Contacts menu-->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->

   <!-- END Search form-->
</nav>
<!-- END Top Navbar-->