﻿
@{
    ViewBag.Title = "Home Page";

}

<div class="row" id="search">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Lav SEO rapport for website</div>
            <div class="panel-body">
                    <div class="input-group">
                        <input type="text" id="url" placeholder="http://" class="form-control">
                        <span class="input-group-btn">
                            <button id="search-btn" type="button" class="btn btn-default" onclick="GetSeoReport()">
                                <em class="fa fa-search"></em>
                            </button>
                        </span>
                    </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center" id="report-spinner" style="display: none; margin: 50px 0;">
        <p style="padding:20px 0">Rapporten genereres... </p>
        @Html.Partial("_LineSpinner")
    </div>
    <div class="col-lg-12">
        <div id="report-content"></div>
    </div>
</div>

@section scripts{

    <script>

        $("#url").keypress(function(e) {
            if(e.which == 13) {
                $("#search-btn").click();
            }
        });

        function GetSeoReport() {
            var val = $("#url").val();
            var url = "/Home/ReportPartial?url=" + val;
            $("#report-content").html("");
            $("#search").hide();

            $("#report-spinner").show();

            function getSeoReportSuccess(data) {
                $("#report-content").html(data);
            }

            function getSeoReportError() {
                $("#report-content").html("<p><i>Der opstod en fejl</i></p>");
            }

            function getSeoReportComplete() {
                $("#report-spinner").hide();
                $("#search").show();
            }

            doAjaxGet(url, getSeoReportSuccess, getSeoReportError, getSeoReportComplete);

        }

    </script>
}
