﻿body {
  font-family: 'Lato', sans-serif;
  color: #656565;
}
h1 {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-family: 'Lato', sans-serif;
}
h3 {
  font-family: 'Lato', sans-serif;
}
a {
  font-family: 'Lato', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
}
/*Color classes*/
.bg-green {
  background-color: #37bc9b;
}
.green {
  color: #37bc9b;
}
.bg-konekt {
  background: #303640;
  color: white;
}
/*Generic classes*/
.alert-success {
  background-color: #37bc9b;
}
.clickable {
  cursor: pointer;
}
.mb-none {
  margin-bottom: 0;
}
.mb-xs {
  margin-bottom: 1px;
}
.no-border {
  border: none;
}
.navbar-right {
  padding-right: 20px;
}
.navbar-right .btn {
  margin-top: 10px;
}
.hover-purple-lighten:hover {
  background-color: #9289ca;
}
.relative {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9999;
  color: white;
}
.overlay h2 {
  text-align: center;
  margin-top: 200px;
  /* Safari */
  -webkit-transform: rotate(-18deg);
  /* Firefox */
  -moz-transform: rotate(-18deg);
  /* IE */
  -ms-transform: rotate(-18deg);
  /* Opera */
  -o-transform: rotate(-18deg);
}
.ui-widget-content {
  border: 1px solid #dde6e9;
  border-radius: 4px;
}
.tagit-close .text-icon {
  display: block !important;
}
/*SPINNERS*/
.line-spinner {
  height: 150px;
  padding-top: 50px;
  text-align: center;
}
/*SEARCH*/
#search-spinner {
  display: none;
}
/*MAP*/
#map-spinner {
  display: none;
}
/*CONTENT*/
.contenteditable:hover:hover {
  border-bottom: dotted 1px;
}
.contenteditable:hover:focus {
  border-bottom: dotted 1px;
}
/*Class index*/
/*MARKET PLACE*/
@media (min-width: 768px) {
  #assignment-display-modal .modal-dialog {
    width: 900px;
    margin: 30px auto;
  }
  #assignment-display-modal .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  #assignment-display-modal .modal-sm {
    width: 300px;
  }
}
/*Chart js*/
.chart-legend ul {
  list-style: none;
  color: black;
}
.chart-legend li {
  display: inline-block;
  margin-right: 5px;
}
.chart-legend li span {
  float: left;
  color: red !important;
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: 5px;
  list-style-type: none !important;
}
.sidebar > .nav > li.active,
.sidebar > .nav > li.active > a,
.sidebar > .nav > li.active > .nav-item,
.sidebar > .nav > li.active .nav,
.sidebar > .nav > li.open,
.sidebar > .nav > li.open > a,
.sidebar > .nav > li.open > .nav-item,
.sidebar > .nav > li.open .nav {
  background-color: #fcfcfc;
  color: #303640;
}
.sidebar > .nav > li.active > .nav-item > em,
.sidebar > .nav > li.active > a > em,
.sidebar > .nav > li.open > .nav-item > em,
.sidebar > .nav > li.open > a > em {
  color: #303640;
}
.sidebar > .nav > li.active {
  border-left-color: #303640;
}
a:hover {
  color: darkgray !important;
}
.account-details .profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
}
.account-details .file-upload {
  display: none;
}
.account-details .circle {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 8px solid rgba(255, 255, 255, 0.7);
  top: 72px;
}
.account-details img {
  max-width: 100%;
  height: auto;
}
.account-details .p-image {
  position: absolute;
  top: 167px;
  left: 140px;
  color: #666666;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.account-details .p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.account-details .upload-button {
  font-size: 1.2em;
}
.account-details .upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}
.zoomButtons {
  margin-right: 10px;
}
.zoomButtons .fa {
  cursor: pointer;
}
.zoomButtons .fa:hover {
  color: #4b91ea;
}
.label-tooltip {
  font-size: 9px;
  color: #37bc9b;
  margin-left: 10px;
}
@media only screen and (max-width: 479px) {
  .reverse-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
.result-text {
  font-size: 16px;
  padding-top: 10px;
}
.error-icon {
  font-size: 40px;
  color: red;
  float: left;
  margin-right: 10px;
}
.check-icon {
  font-size: 40px;
  color: forestgreen;
  float: left;
  margin-right: 10px;
}
.warning-icon {
  font-size: 40px;
  color: orange;
  float: left;
  margin-right: 10px;
}
.info-icon {
  font-size: 40px;
  float: left;
  margin-right: 10px;
}
.check-description {
  color: gray;
  margin-left: 48px;
}
.icon-arrow-right {
  color: gray;
  float: left;
  margin-right: 10px;
  padding-top: 4px;
}
hr {
  margin-bottom: 10px;
}
.table > tbody > tr > td {
  vertical-align: top;
}
.description-cell {
  width: 150px;
}