﻿@model Tester.Models.ReportVm
@{
    ViewBag.Title = "_report";
    var imgSrc = String.Format("data:image/gif;base64,{0}", Model.MobileOptimization.PageImageBase64);
    var passed = 0;
    var semiPassed = 0;
    var failed = 0;
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        
    <div class="panel panel-default">
        <div class="panel-heading">SEO Score</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <div class="text-center pv-xl">
                        <h2 id="percent-passed"></h2>
                        <div id="dashv13_easypie1" class="easypie-chart easypie-chart-lg">
                            <canvas id="pie-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 text-center">
                    <div>
                        <canvas id="chartjs-doughnutchart" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
            <div class="panel-heading">Generelle SEO check</div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td class="description-cell"><strong>Meta Title</strong></td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Meta.Title) && Model.Meta.Title.Length <= 70)
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der er udfyldt en titel på siden på under 70 karakterer.</div>
                                }
                                else if (!string.IsNullOrEmpty(Model.Meta.Title) && Model.Meta.Title.Length > 70)
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der er udfyldt en titel på siden, men da den er over 70 karakterer vil den fulde titel ikke blive vist i alle søgemaskiner.</div>

                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Der er ikke udfyldt en titel på siden.</div>
                                }
                            <hr/>
                                <div class="check-description">
                                    <span class="icon-arrow-right"></span>
                                    @Model.Meta.Title
                                </div>
                            </td>
                            
                        </tr>
                            
                        <tr>
                            <td class="description-cell"><strong>Meta Description</strong></td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Meta.Description) && Model.Meta.Description.Length <= 280)
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der er udfyldt en beskrivelse på siden på under 280 karakterer.</div>


                                }
                                else if (!string.IsNullOrEmpty(Model.Meta.Description) && Model.Meta.Description.Length > 280)
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der er udfyldt en beskrivelse på siden, men da den er over 280 karakterer vil den fulde beskrivelse ikke blive vist i alle søgemaskiner.</div>
                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Der er ikke udfyldt en beskrivelse på siden.</div>
                                }
                                <hr/>
                                <div class="check-description"> <span class="icon-arrow-right"></span>@Model.Meta.Description</div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>Robots Meta</strong></td>
                            <td>
                                @{
                                    var robotMetas = !string.IsNullOrEmpty(Model.Meta.Robots) ? Model.Meta.Robots.Split(',').Select(x => x.ToLower()).ToList() : new List<string>();
                                }
                                @if (!robotMetas.Contains("noindex") && !robotMetas.Contains("nofollow"))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Siden har hverken 'noindex' eller 'nofollow' i meta headers.</div>


                                }
                                else if (robotMetas.Contains("noindex") && !robotMetas.Contains("nofollow"))
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Siden har en 'noindex' header, hvilket betyder at den ikke vil blive indekseret af søgemaskinerne.</div>
                                }
                                else if (robotMetas.Contains("nofollow") && !robotMetas.Contains("noindex"))
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Siden har en 'nofollow' header, hvilket betyder at søgemaskinerne ikke vil følge nogen links på siden, inkl. de interne.</div>
                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Siden har både en 'noindex' og en 'nofollow' header, hvilket betyder at den ikke vil blive indekseret af søgemaskinerne, samt at søgemaskinerne ikke vil følge nogen links på siden, inkl. de interne.</div>
                                }
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>@("<h1>") Check</strong></td>
                            <td>
                                @if (Model.PageContent.H1S.Count(x => !string.IsNullOrEmpty(x)) == 1)
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet én h1'er på siden, hvilket er det optimale antal h1'ere.</div>


                                }
                                else if (Model.PageContent.H1S.Count(x => !string.IsNullOrEmpty(x)) > 1)
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der blev fundet @Model.PageContent.H1S.Count h1'er på siden. For optimal indeksering, bør antallet af h1'ere på siden ikke overstige én.</div>
                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Der blev ikke fundet nogle h1'ere på siden.</div>
                                }
                            <hr/>
                                <div class="check-description">
                                    <span class="icon-arrow-right"></span>
                                    <br />
                                    <ul>
                                        @foreach (var h1 in Model.PageContent.H1S.Where(x => !string.IsNullOrEmpty(x)))
                                        {
                                            <li>@h1</li>
                                        }
                                    </ul>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>@("<h2>") Check</strong></td>
                            <td>
                                @if (Model.PageContent.H2S.Any() && Model.PageContent.H2S.All(x => !string.IsNullOrEmpty(x.Replace(" ", ""))))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet @Model.PageContent.H2S.Count h2'ere på siden.</div>

                                }
                                else if (Model.PageContent.H2S.Any() && Model.PageContent.H2S.Any(x => string.IsNullOrEmpty(x.Replace(" ", ""))))
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der blev fundet @Model.PageContent.H2S.Count h2'ere på siden, men @Model.PageContent.H2S.Count(x => string.IsNullOrEmpty(x.Replace(" ", ""))) indholder ikke tekst. (OBS! h2'ere by ikke indholde andre HTML-tags)</div>
                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Der blev ikke fundet nogle h2'ere på siden.</div>
                                }
                                <hr/>
                                <div class="check-description">
                                    <span class="icon-arrow-right"></span>
                                    <br />
                                    <ul>
                                        @foreach (var h2 in Model.PageContent.H2S)
                                        {
                                            <li>@h2</li>
                                        }
                                    </ul>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>Open graph title</strong></td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Meta.OpenGraphTitle))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet en Open Graph Title på siden.</div>

                                }
                                else
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der blev ikke fundet en Open Graph Title på tiden</div>
                                }

                            </td>                          
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>Open graph Description</strong></td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Meta.OpenGraphDescription))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet en Open Graph Description på siden.</div>

                                }
                                else
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der blev ikke fundet en Open Graph Description på tiden</div>
                                }

                            </td>                          
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>Open graph billede</strong></td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Meta.OpenGraphImageUrl))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet en Open Graph Billede på siden.</div>

                                }
                                else
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der blev ikke fundet en Open Graph Billede på tiden</div>
                                }

                            </td>                          
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>Open graph URL</strong></td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Meta.OpenGraphUrl))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet en Open Graph URL på siden.</div>

                                }
                                else
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der blev ikke fundet en Open Graph Billede på tiden</div>
                                }

                            </td>                          
                        </tr>
                            
                        <tr>
                            <td class="description-cell"><strong>Robots.txt</strong></td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Extras.RobotsTxtUrl))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet en robtos.txt på websitet.</div>


                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Der blev ikke fundet en robots.txt på websitet.</div>
                                }
                                <hr/>
                                <div class="check-description"> <span class="icon-arrow-right"></span>
                                    @(Model.Extras.RobotsTxtUrl ?? "Robots.txt ikke fundet")
                                    @if (!string.IsNullOrEmpty(Model.Extras.RobotsTxtUrl))
                                    {
                                        <br/>
                                        <text>Indhold:</text>
                                        <br/>
                                        @Html.Raw(Model.Extras.RotoctsTxtContents)
                                    }
                                </div>
                            </td>
                            
                        </tr>
                            
                        <tr>
                            <td class="description-cell"><strong>Sitemap.xml</strong></td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Extras.SitemapXmlUrl))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet et sitemap på websitet.</div>


                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Der blev ikke fundet et sitemap på websitet.</div>
                                }
                                <hr/>
                                <div class="check-description"> <span class="icon-arrow-right"></span>
                                    @(Model.Extras.SitemapXmlUrl ?? "Sitemap.xml ikke fundet")

                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>Døde links</strong></td>
                            <td>
                                @if (Model.PageContent.Links.All(x => x.IsAlive))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet @Model.PageContent.Links.Count links på siden, og ingen af dem er døde.</div>

                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Der blev fundet @Model.PageContent.Links.Count links på siden, men @Model.PageContent.Links.Count(x => !x.IsAlive) er døde.</div>
                                    <hr/>
                                    <div class="check-description">
                                        <span class="icon-arrow-right"></span> Liste over døde links:
                                        <br />
                                        <ul>
                                            @foreach (var link in Model.PageContent.Links.Where(x => !x.IsAlive))
                                            {
                                                <li>@link.Href</li>
                                            }
                                        </ul>
                                    </div>
                                }
                                
                            </td>
                            
                        </tr>
                            
                        <tr>
                            <td class="description-cell"><strong>Billeder 'alt' test</strong></td>
                            <td>
                                @if (Model.PageContent.Images.All(x => !string.IsNullOrEmpty(x.AltText)))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev fundet @Model.PageContent.Images.Count billeder på siden, og de har alle en 'alt' attribut</div>

                                }
                                else if (Model.PageContent.Images.Any(x => string.IsNullOrEmpty(x.AltText)))
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der blev fundet @Model.PageContent.Images.Count billeder på siden, men @Model.PageContent.Images.Count(x => string.IsNullOrEmpty(x.AltText)) indholder ikke ikke en 'alt' attribut.</div>
                                }
                                else if (Model.PageContent.Images.All(x => string.IsNullOrEmpty(x.AltText)))
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Der blev fundet @Model.PageContent.Images.Count på siden, men ingen af dem indeholder 'alt' tags.</div>
                                }
                            </td>
                            
                        </tr>                           
                        <tr>
                            <td class="description-cell"><strong>Inline CSS</strong></td>
                            <td>
                                @if (Model.PageContent.InlineCss == null || !Model.PageContent.InlineCss.Any())
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Der blev ikke fundet noget inline CSS på siden, hvilket er godt for vedligeholdelsen.</div>

                                }
                                else
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der blev fundet @Model.PageContent.InlineCss.Count eksempler på inline CSS på siden, hvilket er skidt for vedligeholdelsen og fremtidig udvikling.</div>
                                    <div class="check-description">
                                        <span class="icon-arrow-right"></span> Liste over inline CSS:
                                        <br />
                                        <ul>
                                            @foreach (var element in Model.PageContent.InlineCss)
                                            {
                                                var el = element.Length < 80 ? element : element.Substring(0, 72) + "...";
                                                <li>@el</li>
                                            }
                                        </ul>
                                    </div>
                                }

                            </td>
                            
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>Google Analytics</strong></td>
                            <td>
                                @if (Model.PageContent.GoogleAnalyticsEnabled)
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Google Analytics er slået til på siden.</div>
                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span>
                                    <div class="result-text">Google Analytics er ikke slået til på siden.</div>
                                }

                            </td>
                            
                        </tr> 
                        <tr>
                            <td class="description-cell"><strong>Favicon</strong></td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.PageContent.FaviconUrl))
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text"><img src="@Model.PageContent.FaviconUrl"/> Der blev fundet et favicon på siden</div>
                                }
                                else
                                {
                                    semiPassed++;
                                    <span class="warning-icon icon-exclamation"></span>
                                    <div class="result-text">Der blev ikke fundet noget favicon på siden.</div>
                                }

                            </td>
                            
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">Mobiloptimering</div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td class="description-cell"><strong>Responsiv test</strong></td>
                            <td>
                                @if (Model.MobileOptimization.IsMobileOptimized)
                                {
                                    passed++;
                                    <span class="check-icon icon-check"></span><div class="result-text">Websitet er mobiloptimeret</div>

                                }
                                else
                                {
                                    failed++;
                                    <span class="error-icon icon-close"></span><div class="result-text">Websitet er ikke mobiloptimeret</div>
                                }
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="description-cell"><strong>Mobil Screenshot</strong></td>
                            <td>
                                <span class="info-icon icon-info"></span><div class="result-text">Her kan du se hvordan websitet ser ud på en mobilenhed</div>
                                <hr/>
                                <div class="marvel-device iphone8 silver">
                                    <div class="top-bar"></div>
                                    <div class="sleep"></div>
                                    <div class="volume"></div>
                                    <div class="camera"></div>
                                    <div class="sensor"></div>
                                    <div class="speaker"></div>
                                    <div class="screen">
                                        <img src="@imgSrc"/>
                                    </div>
                                    <div class="home"></div>
                                    <div class="bottom-bar"></div>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>

    <div class="panel panel-default">
        <div class="panel-heading">Hastighed</div>
        <div class="panel-body">
            <!-- START table-responsive-->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                    <tr>
                        <td class="description-cell"><strong>Sidehastighed</strong></td>
                        <td>
                            @{
                                var loadInSeconds = decimal.Round(decimal.Divide(Model.MobileOptimization.PageLoadSpeed.Milliseconds, 1000), 2);
                            }
                            @if (loadInSeconds < 4m)
                            {
                                passed++;
                                <span class="check-icon icon-check"></span><div class="result-text">Siden bliver indlæst på @loadInSeconds sekunder, hvilket er under de anbefalede 4 sekunder.</div>

                            }
                            else if (loadInSeconds > 4m && loadInSeconds < 6m)
                            {
                                semiPassed++;
                                <span class="warning-icon icon-exclamation"></span>
                                <div class="result-text">Siden bliver indlæst på @loadInSeconds sekunder, hvilket er over de anbefalede 4 sekunder</div>
                            }
                            else
                            {
                                failed++;
                                <span class="error-icon icon-close"></span>
                                <div class="result-text">Siden bliver indlæst på @loadInSeconds sekunder, hvilket er over de anbefalede 4 sekunder</div>
                            }
                        </td>                       
                    </tr>
                    <tr>
                        <td class="description-cell"><strong>Antal objekter</strong></td>
                        <td>
                            @{
                                var totalObjects = Model.PageContent.TotalImageDownloadCount +
                                                   Model.PageContent.CssFiles.Count +
                                                   Model.PageContent.HtmlFiles.Count +
                                                   Model.PageContent.ScriptFiles.Count;
                            }
                            @if (totalObjects <= 20)
                            {
                                passed++;
                                <span class="check-icon icon-check"></span><div class="result-text">Siden henter 20 eller færre objekter når den bliver indlæst.</div>

                            }
                            else
                            {
                                semiPassed++;
                                <span class="warning-icon icon-exclamation"></span>
                                <div class="result-text">Siden henter mere end 20 objekter når den bliver indlæst.</div>
                            }
                            <div class="check-description">
                                <span class="icon-arrow-right"></span> Objekter der hentes:
                                <br />
                                <ul>
                                    <li>@Model.PageContent.TotalImageDownloadCount billeder</li>
                                    <li>@Model.PageContent.CssFiles.Count CSS-filer</li>
                                    <li>@Model.PageContent.ScriptFiles.Count Script-filer</li>
                                    <li>@Model.PageContent.HtmlFiles.Count HTML-fil(er)</li>
                                    <li><strong>Total:</strong> @totalObjects filer</li>
                                </ul>
                            </div>
                        </td>                       
                    </tr>
                    <tr>
                        <td class="description-cell"><strong>JS Minification</strong></td>
                        <td>
                            @if (Model.SpeedOptimization.GooglePageSpeed.UnminifiedJavascript == null ||!Model.SpeedOptimization.GooglePageSpeed.UnminifiedJavascript.Any())
                            {
                                passed++;
                                <span class="check-icon icon-check"></span><div class="result-text">Alle Javascript-filer på siden er minified.</div>

                            }
                            else
                            {
                                semiPassed++;
                                <span class="warning-icon icon-exclamation"></span>
                                <div class="result-text">Nogle af sidens Javascript-filer ikke ikke minified.</div>
                                <div class="check-description">
                                    <span class="icon-arrow-right"></span> Liste over Javascript-filer der ikke er minified:
                                    <br />
                                    <ul>
                                        @foreach (var file in Model.SpeedOptimization.GooglePageSpeed.UnminifiedJavascript)
                                        {
                                            <li>@file</li>
                                        }
                                    </ul>
                                </div>
                            }

                        </td>                       
                    </tr>
                    <tr>
                        <td class="description-cell"><strong>CSS Minification</strong></td>
                        <td>
                            @if (Model.SpeedOptimization.GooglePageSpeed.UnminifiedCss == null || !Model.SpeedOptimization.GooglePageSpeed.UnminifiedCss.Any())
                            {
                                passed++;
                                <span class="check-icon icon-check"></span><div class="result-text">Alle CSS-filer på siden er minified.</div>

                            }
                            else
                            {
                                semiPassed++;
                                <span class="warning-icon icon-exclamation"></span>
                                <div class="result-text">Nogle af sidens CSS-filer ikke ikke minified.</div>
                                <div class="check-description">
                                    <span class="icon-arrow-right"></span> Liste over CSS-filer der ikke er minified:
                                    <br />
                                    <ul>
                                        @foreach (var file in Model.SpeedOptimization.GooglePageSpeed.UnminifiedCss)
                                        {
                                            <li>@file</li>
                                        }
                                    </ul>
                                </div>
                            }

                        </td>                       
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- END table-responsive-->
        </div>
    </div>
        
    <div class="panel panel-default">
        <div class="panel-heading">Sikkerhed</div>
        <div class="panel-body">
            <!-- START table-responsive-->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                    <tr>
                        <td class="description-cell"><strong>HTTPS Certifikat</strong></td>
                        <td>
                            @if (Model.Security.IsHttps && Model.Security.CertificateValid)
                            {
                                passed++;
                                <span class="check-icon icon-check"></span><div class="result-text">Siden bruger et sikkert HTTPS Certifikat.</div>

                            }
                            else if (Model.Security.IsHttps && !Model.Security.CertificateValid)
                            {
                                semiPassed++;
                                <span class="warning-icon icon-exclamation"></span>
                                <div class="result-text">Siden bruger HTTPS, men har ikke et sikkert / validt certifikat</div>
                            }
                            else
                            {
                                failed++;
                                <span class="error-icon icon-close"></span>
                                <div class="result-text">Siden benytter sig ikke af HTTPS</div>
                            }
                        </td>                       
                    </tr>
                    <tr>
                        <td class="description-cell"><strong>Virus / Malware</strong></td>
                        <td>
                            @if (Model.Security.VirusReport.Positives == 0)
                            {
                                passed++;
                                <span class="check-icon icon-check"></span><div class="result-text">Siden er ikke inficeret med virus / Malware.</div>

                            }
                            else
                            {
                                failed++;
                                <span class="error-icon icon-close"></span>
                                <div class="result-text">Vi har testet siden med @Model.Security.VirusReport.Total forskellige virus-scannere, og @Model.Security.VirusReport.Positives viste at siden er inficeret med malware.</div>
                            }
                        </td>                       
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- END table-responsive-->
        </div>
    </div>

    </div>
</div>
@{
    int percentPassed = (int)decimal.Round(decimal.Divide(passed, (passed + semiPassed + failed)) * 100, 0);

    var pieColor = percentPassed >= 70 ? "rgba(34, 139, 34, 0.7)" : percentPassed >= 40 ? "rgba(255, 165, 0, 0.7)" : "rgba(255, 0, 0, 0.7)";
    var pieBorderColor = percentPassed >= 70 ? "rgba(34, 139, 34, 1)" : percentPassed >= 40 ? "rgba(255, 165, 0, 1)" : "rgba(255, 0, 0, 1)";
}
<script>

    $("#percent-passed").html("@(percentPassed) %");

    var ctx = document.getElementById("chartjs-doughnutchart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["OK", "OBS", "Fejlet"],
            datasets: [{
                label: 'Fordeling',
                data: [@(passed), @(semiPassed), @(failed)],
                backgroundColor: [
                    'rgba(34, 139, 34, 0.7)',
                    'rgba(255, 165, 0, 0.7)',
                    'rgba(255, 0, 0, 0.7)'
                ],
                borderColor: [
                    'rgba(34, 139, 34, 1)',
                    'rgba(255, 165, 0, 1)',
                    'rgba(255, 0, 0, 1)'

                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fixedStepSize: 1
                    }
                }]
            }
        }
    });

    var ctx2 = document.getElementById("pie-chart").getContext('2d');
    var pieChart = new Chart(ctx2, {
        type: 'pie',
        data: {
            datasets: [{
                data: [@percentPassed, @(100- percentPassed)],
                backgroundColor: [
                    '@pieColor',
                    'rgba(255, 255, 255, 0.7)',
                ],
                borderColor: [
                    '@pieBorderColor',
                    '@pieBorderColor',

                ],
                borderWidth: 1
            }]
        }
    });
</script>